.window .window-minimize-button,
.window .window-maximize-button,
.window .window-close-button {
    -fx-opacity: 0;
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}